// body {
// 	border-bottom: solid 50px $red;
// }

// Page header
#front-hero {
	background: $primary-color;
	@include breakpoint(small) {
		padding: rem-calc(65%) 0;
		margin: 0 0 rem-calc(32);
		height: auto;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		// height: rem-calc(685);
		margin: 0 0 rem-calc(72);
	}

	.marketing {
		@include grid-row();
		max-width: 55rem;
	}

	.tagline {
		text-align: center;
		@include breakpoint(small) {
			// @include grid-column(8);
		}

		@include breakpoint(medium) {
			// @include grid-column(12);
			padding-top: 6rem;
		}

		.branding {
			font-size: 	rem-calc(75);	
		    line-height: 1em;
			font-weight: 900;
			text-align: center;
			margin: 0;
			@include breakpoint(medium) {
			    font-size: rem-calc(220);
			}
			::selection {
				color: $white;
				text-shadow: 10px 10px 0px $dark-blue;
			}
			.happy {
				font-family: $sans-serif;
				color: darken($light-yellow, 10%);
				@include breakpoint(medium) {
					font-size: 107%;
				}
			}
			.chap {
				color: $dark-blue;
				font-family: $serif;
				text-transform: uppercase;
			}
		}
		.brand-tag {
			@include breakpoint(medium) {
				margin: -1em 0 10em;
			}
			.creative, .co {
				font-family: $sans-serif;
				text-transform: uppercase;
			}
			.creative {
				font-size: 150%;
				@include breakpoint(medium) {
					font-size: 350%;
				}
				font-weight: 100;
				letter-spacing: .25em;
			}
			.co {
				font-size: 80%;
				font-weight: 900;
				background: $red;
				border-radius: 100%;
				padding: 5px;
				position: relative;
				bottom: 5px;
				@include breakpoint(medium) {
					padding: 10px;
					position: relative;
					bottom: 15px;				    
				}
			}
		}
		h1.subheader {
			color: #fff;
			font-weight: 500;
			font-size: 1.2rem;
			@include breakpoint(medium) {
				font-size: 2.875rem;
			}
			.amp {
				font-family: $serif;
				font-weight: 300;
				font-size: 110%;
			}
			strike {
				// color: $medium-gray;
				opacity: .25;
			}
		}
		.location {
			color: lighten($light-gray, 10%);
			@include breakpoint(medium) {
				font-size: rem-calc(20);
			}
			  
			margin-top: rem-calc(150);
			text-transform: uppercase;
			font-family: $sans-serif;
			font-weight: 100;
			letter-spacing: .1em;
		}
		.button {
			color: $white;
			border-color: $white;
			margin-top: 2em;
		}

	}


}


// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}