// body {
// 	border-bottom: solid 50px $red;
// }

// Page header
#front-hero {
	background: $primary-color;
	@include breakpoint(small) {
		padding: rem-calc(65%) 0;
		margin: 0 0 rem-calc(32);
		height: auto;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		// height: rem-calc(685);
		margin: 0 0 rem-calc(72);
	}

	.marketing {
		@include grid-row();
		max-width: 55rem;
	}

	.tagline {

		@include breakpoint(small) {
			@include grid-column(8);
		}

		@include breakpoint(medium) {
			@include grid-column(12);
			padding-top: 6rem;
		}

		h1.name {
			font-size: 	rem-calc(75);	
		    line-height: 1em;
			font-weight: 900;
			@include breakpoint(medium) {
			    font-size: rem-calc(220);
			}
			::selection {
				text-shadow: 10px 10px 0px $light-red;
			}
			.givenname {
				color: darken($light-yellow, 10%);
				font-size: 120%;
			}
			.familyname {
				color: $dark-blue;
				font-family: $serif;
				text-transform: uppercase;
			}
		}
		ul.subheader {
			color: $light-gray;
			@include breakpoint(medium) {
				font-size: rem-calc(43);
				line-height: 1.75em;
			}
			list-style: none;
			margin: rem-calc(20) 0;
			small {
				color: darken($blue, 10%);
				a {
					color: darken($blue, 10%);
					border-bottom: dashed 1px $light-gray;
				}
			}
			li {
				display:inline;
			}
			li:last-child {
				display: block;
			}
			  
			 .amp {
			 	font-weight: 100;
			 	@include breakpoint(medium) {
				 	font-size: 250%;
				 	margin-top: 13px;
				 	margin-left: -75px;
				 	float: left;
				 	padding-right: 5px;
			 	}
			 	  
			 }
		}
		.location {
			color: lighten($light-gray, 10%);
			font-size: rem-calc(20);
			margin-top: rem-calc(150);
			text-transform: uppercase;
			font-family: $sans-serif;
			font-weight: 100;
			letter-spacing: .1em;
		}
		.button {
			color: $white;
			border-color: $white;
			margin-top: 2em;
		}

	}

	h1 {
		color: #fff;
		font-weight: 500;

		@include breakpoint(small) {
			font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			font-size: 2.875rem;
		}

	}

}


// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}