// body {
// 	border-bottom: solid 50px $red;
// }

// Page header
#front-hero {
	background: $primary-color;
	padding: 1em;
	margin-bottom: 16em;
	@include breakpoint(small) {
		/* margin: 0 0 rem-calc(32); */
		height: auto;
		position: relative;
		text-align: left;
	}

	.content {
		padding: 2em;
		@include breakpoint(large) {
			padding-left: 300px;
		}
	}
	#featured-hero {
		max-width: 250px;
		@include breakpoint(medium) {
			max-width: 100%;
		}
	}
	h1.name {
		font-size: 	rem-calc(65);
		line-height: 1em;
		font-weight: 900;
		margin-top: .15em;
		margin-left: -.1em;
		@include breakpoint(medium) {
			font-size: rem-calc(130);
		}
		@include breakpoint(xlarge) {
			font-size: rem-calc(160);
		}
		::selection {
			text-shadow: 10px 10px 0px $light-red;
		}
		.givenname {
			color: darken($light-yellow, 10%);
			font-size: 120%;
		}
		.familyname {
			color: $dark-blue;
			font-family: $serif;
			text-transform: uppercase;
		}
	}
	p {
		color: $light-gray;
		color: darken($blue, 15%);
		line-height: 1.85em;
		&.intro {
			@include breakpoint(medium) {
				font-size: rem-calc(24);
			}
			@include breakpoint(large) {
				font-size: rem-calc(43);
			}

		}
		a {
			color: darken($blue, 10%);
			border-bottom: dashed 1px $light-gray;
		}
		&.title-loc {
			color: lighten($light-gray, 10%);
			text-transform: uppercase;
			font-family: $sans-serif;
			font-weight: 100;
			letter-spacing: .1em;
			margin: rem-calc(50) 0;
			font-size: rem-calc(18);
			@include breakpoint(large) {
				font-size: rem-calc(30);
			}
		}
	}
	.button {
		color: $white;
		border-color: $white;
		margin-top: 2em;
	}


}


// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}
