@include breakpoint(small) {
	#featured-hero {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		}

		.no-featured-image-set {
			height: rem-calc(16) !important;
		}
}
