#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	// border-top: 1px solid #ccc;
	margin-top: rem-calc(60);
	background: $red;

	#footer {
		@include grid-row();
		padding: rem-calc(30) rem-calc(20);
		.tease-header {
			color: darken($red, 10%);
			font-size: 250%;
			@include breakpoint(medium) {
				color: darken($red, 3%);
				@include grid-column(4);
				font-size: 375%;
				text-transform: uppercase;
			}
			@include breakpoint(large) {
				@include grid-column(4);
				font-size: 575%;
				text-transform: uppercase;
			}
			
		}
		
		.tease-body {
			font-family: $sans-serif;
			color: darken($red, 10%);
			text-transform: uppercase;
			// text-shadow: 1px 1px 0px $light-red;
			@include breakpoint(medium) {
				@include grid-column(8);
				font-size: rem-calc(35);
				color: darken($red, 3%);
				padding: 0 rem-calc(60);
			}
			strong {
				font-weight: 900;
			}
		}

	}
}
