#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	// border-top: 1px solid #ccc;
	margin-top: rem-calc(60);
	background: $red;

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		blockquote {
			border: none;
			text-align: center;
			margin-top: 24em;
			@include breakpoint(medium) {
				padding: rem-calc(60) rem-calc(0);
			}

			p {
				font-family: $sans-serif;
				color: darken($red, 10%);
				text-transform: uppercase;
				font-size: rem-calc(25);
				// text-shadow: 1px 1px 0px $light-red;
				@include breakpoint(medium) {
					font-size: rem-calc(55);
				}
				strong {
					// font-size: 150%;
				}
			}
			cite {
				color: darken($red, 15%);
				margin-top: 4em;
				font-size: rem-calc(20);
				font-style: normal;
				font-weight: 100;
				letter-spacing: .08em;
				text-transform: uppercase;
			}
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}
